img(src="http://www.adok-app.fr/medias/logo/logo-bg.png" style="width: 50%; margin: 0 auto; display: block;")
h3(style="text-align: center;") Formulaire de Contact
p Nom :
p #{name}
br
p E-mail :
p #{email}
br
p Message :
p #{message}
