img(src="http://localhost:3000/media/logo2.png" style="width: 50%; margin: 0 auto; display: block;")
h3(style="text-align: center;") Formulaire de Contact
p Nom :
p #{name}
br
p E-mail :
p #{email}
br
p Message :
p #{message}
