extends ../../layouts/account

block head
  title= t('name')

block feet
  script(src='/views/min/adok_components/map.min.js')

block body
  div.app-content
    div.page-container
      div.m-tool__wrap
        div.m-tool(id="tool-home")
          center
            div.waiting-tiles
              span.uptodate Votre liste est à jour.
              div.area-waiting
                span.waiting-counter 0
                span.only &nbsp;défi(s) en attente.
                span.multi &nbsp;défi(s) en attente.
          div.count-results
            span.res
            span.label= t('res')
          div.results
            ul#tileItems.items
          div.no-result
            span.no-res= t("userhome.no-res")
