extends ../../layouts/account

block head
  title= t('name')

block neck
 

block feet
  script(src='/views/min/adok_components/home.min.js')
  script(src='/views/min/account/index.min.js')

block body
  div.app-content
    div.page-container
      h1 CONNECTED