extends ../../layouts/account

block head
  title= t('name')

block feet
  script(src='/views/min/adok_components/map.min.js')

block body
  div.app-content
    div.page-container
      div.m-tool__wrap
        div.m-tool(id="tool-home")
          div.my-network
            div.wrap
              input.input(type="checkbox", id="network-input", name="add-my-network")
              label.label(for='network-input')= t('userhome.network')
          center
            style .waiting-tiles:hover {background: grey; cursor:pointer;}
            span.uptodate Votre liste est à jour.
            div.waiting-tiles
              div.area-waiting
                span.waiting-counter 0
                span.only &nbsp;proposition en attente.
                span.multi &nbsp;propositions en attente.
          div.count-results
            span.res
            span.label= t('res')
          div.results
            ul#tileItems.items
          div.no-result
            span.no-res= t("userhome.no-res")
