img(src="http://www.adok-app.fr/medias/logo/logo-bg.png" style="width: 50%; margin: 0 auto; display: block;")
h3(style="text-align: center;") Feedback - Compte
p E-mail :
p #{email}
br
p Message :
p #{message}
