.nodemonignore
.sass-cache/
**/.sass-cache/*
public/components
public/views/min
config.js
locales/fr-FR/*
node_modules
public/components/font-awesome/scss/_variables.scss
public/css/main.css
public/js/*.min.js
public/css/*.min.css
public/img/min/
public/layouts/*.min.js
public/layouts/*.min.css
public/layouts/*.min.js.map
public/views/*/*/*.min.css
public/views/*/*/*.min.js
uploads/avatars/*
uploads/*
!node_modules/drywall-sendmail
!node_modules/drywall-slugify
!node_modules/drywall-workflow
!node_modules/nominatim
*.log
*.min.js
*.min.js.map
*.min.css
plan.txt
