/*
	admin scss for adok
*/
.display {
  width: 80%;
  margin: 0 auto;
}

.l-header #logout {
  float: right;
  padding-right: 20px;
}
.l-header #logout i {
  padding-right: 5px;
}

.l-header__navbar {
  width: auto !important;
}
.l-header__navbar .navbar-r ul li, .l-header__navbar .navbar-r li.nav-dropdown {
  color: black;
}
.l-header__navbar .navbar-r ul li:hover, .l-header__navbar .navbar-r li.nav-dropdown:hover {
  color: #7e7e7e;
}
.l-header__navbar .navbar-r .nav-dropdown-menu {
  width: 175px !important;
}

.page-container {
  background-color: #7c4dff;
}
