extends ../layouts/default

block head
  title= t('name')

block neck

block feet
  script(src='/views/min/adok_components/homepage.min.js')
  script(src='/views/min/contact/index.min.js')
  script(src='/views/min/login/index.min.js')

block body
  div.app-content
    div.page-container
      div.bg
      div.wrap-sections
        section.text
          div.mainSen adok vous accompagne dans votre carrière de challenger.

          div.how Comment démarrer votre carrière de challenger ?
          div.wrap-how
            div.one
              div.ico
                img(src="/medias/others/h_1.png")
              div.text Inscrivez-vous via les réseaux Sociaux
            div.two
              div.ico
                img(src="/medias/others/h_2.png")
              div.text Créez un challenge ou participez
            div.three
              div.ico
                img(src="/medias/others/h_3.png")
              div.text Postez une phot pour validé le défi
            div.four
              div.ico
                img(src="/medias/others/h_4.png")
              div.text C'est la communauté qui valide !

        section.button
          btn.btn-contact
            a.contact(id="t_contact") Contact
          btn.btn-team
            a.team(id="t_team") Team

        section.mobile
          label= t("homepage.coming")
          div.wrap
            a(href="https://play.google.com/store/apps/details?id=io.adok"): i.fa.fa-android
