extends ../layouts/default

block head
  title= t('name')

block neck

block feet
  script(src='/views/min/adok_components/homepage.min.js')
  script(src='/views/min/contact/index.min.js')
  script(src='/views/min/login/index.min.js')

block body
  div.app-content
    div.page-container
      section.text
        h1 New homepage
        h3 Comming soon ...

        btn.btn
          a.contact(id="t_contact") Contact
