extends ../layouts/default

block head
  title= t('name')

block neck

block feet
  script(src='/views/min/adok_components/homepage.min.js')
  script(src='/views/min/contact/index.min.js')
  script(src='/views/min/login/index.min.js')

block body
  div.app-content
    div.page-container
      div.bg
      div.wrap-sections
        section.text
          h3 Comming soon ...

        section.button
          btn.btn-contact
            a.contact(id="t_contact") Contact
          btn.btn-team
            a.team(id="t_team") Team

        section.mobile
          label Disponible prochainement
          div.wrap
            a
              i.fa.fa-android
            a
              i.fa.fa-apple
