h3 Mot de passe oublié ?
p
  | Nous avons reçu une requète afin de redéfinir le mot de passe du compte de : #{username}.
p
  | Pour modifier votre mot de passe, Cliquer sur le lien ci-dessous (ou copier l'adresse dans votre navigateur) :
  a(href='#{resetLink}') #{resetLink}
p
  | Merci,
  br
  | #{projectName}
