extends ../../../layouts/admin

block head
  title Evènement / Détails

block feet
  script(src='/views/min/admin/eevents/details.min.js')

block body
  div.app-content
    div.page-container
      div#header
      div#content
      div#results-table
      div#delete

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/eevent/') Evènements
        |  / <%= title %>

  script(type='text/template', id='tmpl-content')
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-danger.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        | Les changements ont été sauvegardés.
      |<% } %>
    - var nclass = ["title", "desc", "photos", "place", "timeCreated", "lng", "lat", "start"]
    - var npublic = ["Titre", "Description", "Photo", "Lieu", "Date de création", "Longitude", "Latitude", "Début date"]
    - var n = 0
    - nclass.forEach(function(item) {
      div.control-group(class!='<%= errfor.' + item + ' ? "has-error" : "" %>')
        label.control-label= npublic[n]
        | &nbsp;de l'évènement :
        input.form-control(type='text', name='' + item + '', value!='<%= ' + item + ' %>')
        - n++
    - })

    div.control-group
      button.btn.btn-primary.btn-update(type='button') Mettre à jour

  script(type='text/template', id='tmpl-results-table')
    table.table.table-striped
      thead
        tr
          th
          th(style='text-align:center')
            | User
      tbody#results-rows(style='border: 3px solid red')

  script(type='text/template', id='tmpl-results-row')
    td
      input.btn.btn-default.btn-sm.btn-details(type='button', value='Edit')
    td(style='text-align:center')
      span.validation-clear <%= e %>


  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='4') Any document finded      

  script(type='text/template', id='tmpl-delete')
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-danger.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>
    div.control-group
      span.help-block
        span.label.label-danger Action irréversible
        |&nbsp;
    div.control-group
      button.btn.btn-danger.btn-delete(type='button') Supprimer

  script(type='text/template', id='data-record') !{data.record}
  script(type='text/template', id='data-validation') !{data.validation}