/*=============================================
=            Section comment block            =
=============================================*/

					/*

	Responsive file for adok Edition 2014

		A lot of shit in this file ...

				- Lucowvsky

	    			*/

/*-----  End of Section comment block  ------*/


/* Variables for responsive */

	$menu-width: 250px!default;

/* Code() */

@media only screen and (max-width: $width-small) {

	/* IDs */
	#map  { display: none; }

	/* Classes */
	.app-container, .app-pusher { height: 100%; }

	.app-container {
		overflow: hidden;
	}

	.app-pusher {
		@include transition-duration(0.2s);
		@include transform(translateX(0px));
	}

	.app-content {
		position: absolute; bottom: 0;
		top: 50px; right: 0;
		padding-top: 0; left: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling:touch;
	}

	.l-header {
		position: static; height: 50px;
		background-color: $header-bg;
	}

	.l-header__icon {
		position: relative; float: left;
		width: 60px; height: 50px;
		display: block; cursor: pointer;

		&:after {
			content:'';
			position: absolute;
			display: block;
			width: 1.1rem; height: 0;
			top: 9px; left: 18px;
			@include box-shadow(0 10px 0 1px #FFF,
								0 16px 0 1px #FFF,
								0 22px 0 1px #FFF);
		}
	}

	.l-header__logo {
		color: $blue_a; height: 50px!important;
		padding: 7px 0 0 25px!important;
		.wrap {
			.logo-1 {
			 color: white!important;
			 position: absolute!important;
			 left: 47.5%;
			}
			.logo-adok {
        display: inline-block!important;
      }
		}
	}

	.l-header__navbar {
		position: absolute;
		left: 0; top: 0; bottom: 0;
		background-color: darken($header-bg, 5);
		width: $menu-width!important;
		@include transform(translateX($menu-width * -1));

		.searchbar {
			input {
				width: 75%;
			}
		}
		.navbar-l {
			float: left!important; width:inherit!important;
			margin: 0!important; padding-left: 0px!important;

			li {
				display: block!important; width: inherit!important;
				padding-left: 0px!important;

				a {
					display: block; text-align: center;
					height: 40px; width: inherit;
					line-height: 40px;
					border-bottom: 1px solid $header-bg;

					img, i { display: none!important; }
				}
				.helper {
					display: block!important; background-color: transparent!important;
					border: none!important; color: white!important;
					width: 100%!important; position: inherit!important;
					font-size: 16px!important;

					&:after {
						height: 0!important;
					}
				}
				&:hover span {
					display: inline-block!important;
				}
			}
		}

		.navbar-r {
			width: 100%; padding-left: 10px;
			left: 0; right: 0; bottom: 30px; 
			font-size: 18px; position: absolute;

			li { color:white!important; }

			&.default { top: 5px; left: 10px; bottom: 0px; }
			.navbar-h {
				margin: 0 12px 0 0!important;
			}

			.nav-dropdown {
				padding-left: 20px; width: inherit!important;
				margin-top: 120px; border-top: 1px solid $purple_a;

				.nav-dropdown-menu {
					color: white!important; display: block!important;
					background-color: inherit!important;

					li { text-indent: 8px; }
				}
				.caret { display: none; }
			}

			.lang {
				float: left!important; font-size: 14px!important;
				top: 0px!important; left: 10px !important; clear: both;
				border-left: none!important; border-right: none!important;
				margin-bottom: 15px;

				img {
					width: 45px!important;
					height: 45px!important;
				}
			}
		}
	}

	.with--sidebar {
		.app-pusher {
			@include transform(translateX($menu-width));
		}

		.app-cache {
			position: absolute;
			top: 0;left: 0; right: 0;
			bottom: 0; background-color: rgba(0,0,0,0.6);
		}

		.sb {
			visibility: hidden;
		}

		.sidebar-inv {
			left: 600px;
		}

		.sidebar-chat {
			right: 650px;
		}

	}

	.sidebar-chat, .sidebar-inv {
		margin-top: 50px;
		@include calc(height, "100% - 50px - 25px");
	}

	#t_chat {
		left: -61px!important;
		top: -1px;
		height: 60px!important;
		width: 60px!important;
		label { top: 60%!important; }
	}

	.m-modal {
		width: auto!important; height: 400px!important;
		margin: 0 10px;
	}
	.m-zone {
		#picture {
			margin: 15px 0px 10px 100px!important;
		}
		#up {
			margin: 15px 0 10px 0!important;
		}
	}
	.m-propose {
		width: 95%!important;

		#rangeCtrld0, #rangeCtrlh0 {
			margin: 0 0 20px 5px;
			width: 150px;
		}
		.fs-fields input {
			width: 90%!important; margin: 0 auto;
		}
		.fs-field-label {
			font-size: 1rem!important;
			font-weight: 500!important;
		}
		.fs-radio-group label {
			font-size: 0.9rem!important;
		}
	}
	.m-feedback {
		width: 90%!important; height: 200px!important;
		.m-modal { height: 200px!important; }
	}

	.m-contact, .m-team, .m-signin, .m-signup, .m-network, .m-badge,
	.m-report_u, .m-report_e {
		width: 90%!important; height: 300px!important;
		.m-modal { height: 300px!important; }
	}

	.m-team .modal__content > div {
		display: block!important;
		float: none!important;
		width: 120px;
		margin: 0 auto;
		padding: 0!important;
	}

	.m-network {
		color: white;
		img {
			width: 20px!important; height: 20px!important;
		}
	}

	.wrap-sections {
		section {
			&.text {
				.mainSen {
					margin-top: 40px!important;
				}
				.how {

				}
				.wrap-how {
					-webkit-column-count: 4;
    			-moz-column-count: 4;
    			column-count: 4;
				}
			}
			&.mobile {
				position: fixed!important;
				right: 20px!important;
				bottom: 20px!important;
			}
			btn.btn-contact {
				right: 120px!important;
				top: 15px!important;
			}
			btn.btn-team {
				right: 30px!important;
				top: 15px!important;
			}
		}
	}

	.sidebar-inv {
		width: 250px;
		&.is-close {
			left: -250px;
		}
	}

	.results {
		width: 99%!important;
		@include calc(height, "100% - 50px - 25px");
		overflow-x: hidden;
		ul#tileItems {
			margin: 0 auto; width: 100%;
		}
	}

	#proposal {
		 & > .right {
			height: auto!important;
			width: auto!important;
		}
		._blank {
			height: 155px!important;
			width: 100px!important;
		}
		.right {
			padding: 2px 0!important;
			#map-event { width: 100%; height: 100px; }
			.place { text-align: left!important; }
			.title {
				font-size: 16px!important;
			}
			.desc {
				word-break: break-word; border: none!important;

			}
			.prop_by {
				position: absolute!important;
				float: none!important; top: 170px;
				left: 5px;
			}
			.comments {
				input {
					text-align: center;
					width: 95%!important;
				}
				button {
					height: 32px!important;
					margin: 18px 0;
					width: 95%;
				}
				ul {
					margin-top: 0px!important;
					li {

					}
				}
			}
		}
	} // end of #proposal


}
