@font-face {
  font-family: 'wolfInTheCity';
  src: url('../CssApp/scss/fonts/witc/Wolf_in_the_City.eot');
  src: url('../CssApp/scss/fonts/witc/WolfintheCity.otf') format('truetype'),
       url('../CssApp/scss/fonts/witc/WolfintheCity.woff') format('woff'),
       url('../CssApp/scss/fonts/witc/Wolf_in_the_City.eot?#iefix') format('embedded-opentype');
  font-weight: normal; font-style: normal;
  }