extends ../../../layouts/admin

block head
	title Badge-Factory

block feet
	script(src='/views/min/admin/badges/index.min.js')

block body
	div.app-content
		div.page-container
			div#addBadge
			div#results-table

		script(type='text/template', id='tmpl-addBadge')
			hr
			h1(label style='font-size:20-large; font-family:georgia;')  Create a new badge:
			hr
			form(id='create-form', method='POST', action='/adok-adm/' novalidate)
				.form-group
					label(for='name') Badge name
					input.form-control(name='name', type='text', placeholder='Enter a badge name', value='')
				.form-group
					label(for='desc') Description
					input.form-control(name='desc', type='text', placeholder='Enter a description', value='')
				.form-group
					label(for='title') Title
					input.form-control(name='title', type='text', placeholder='Entrer a title', value='')
				.form-group
					button.btn.btn-primary.btn-add(type='button') Créer

		script(type='text/template', id='tmpl-results-table')
			table.table.table-striped
				thead
					tr
						th
						th(style='background-color:blue; text-align:center')
							| Name
						th(style='background-color:white; text-align:center')
							| Description
						th(style='background-color:crimson; text-align:center')
							| Title							
				tbody#results-rows(style='border: 5px solid red')

		script(type='text/template', id='tmpl-results-row')
			td
				input.btn.btn-default.btn-sm.btn-details(type='button', value='Edit')
			td(style='text-align:center')
				span.badge-clear <%= name %>
			td(style='text-align:center')
				span.badge-clear <%= desc %>
			td(style='text-align:center')
				span.badge-clear <%= title %>

		script(type='text/template', id='tmpl-results-empty-row')
			tr
				td(colspan='4') Any document finded

	
		script(type='text/template', id='data-results') !{data}