@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Html 5 Element
$audio-canvas-video: false;

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;

// = Colors
// -----------------------------

// Graphic chart
$blue_a: #BBDEFB; //rgb(187, 222, 251) -- light
$blue_b: #2196F3; //rgb(33, 150, 243) -- normal
$blue_c: #1976D2; //rgb(25, 118, 210) -- Strong

$purple_a: #FF80AB; //rgb(15, 248, 10) -- Light
$purple_b: #FF4081; //rgb(255, 64, 129) -- normal
$purple_c: #F50057; //rgb(245, 0, 87) -- Strong

$green: #66CD00;
$yellow: darken(#FFDD65, 3%);

$blck: #000000;
$divider: lighten(#000000, 12%);
$hint: lighten(#000000, 26%);
$icons: lighten(#000000, 54%);
$txt: lighten(#000000, 87%);

// End of Graphic chart


$red: #FF0000;
$grey: $hint;
$color1: $blck;
$color2: white;

// Text
$color-text-base: #212121;

// link
$color-link: black;
$color-link-hover: $yellow;

// Mixin Placeholder
$color-mixin-placeholder: #cdcdcd;

// Selection
$color-selection: $blue_a;

// Button
$bg-btn: #555;
$bg-btn-hover: darken($bg-btn, 10%);
$clr-btn: #212121;
$clr-btn-hover: darken($clr-btn, 10%);

// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);

// = Prefix
// -----------------------------

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

// = Responsive
// -----------------------------

$width-large: 75em; // 1200/16
$width-medium: 62em; // 992/16
$width-small: 750px;
$width-x-small: 600px;
