| Bienvenue sur adok
= '\n'
= '\n'
| Vos informations de connexion :
= '\n'
= '\n'
| Nom d'utilisateur : #{username}
| Adresse e-mail : #{email}
= '\n'
= '\n'
| Connexion : #{loginURL}
= '\n'
= '\n'
| Merci,
| #{projectName}
