extends ../../layouts/default

block head
	title= t('nav.signup')

block feet
	script(src='/views/min/signup/social.min.js')

block body
	div.app-content
		div.page-container
			h1= t('nav.signup')
			div#signup

	script(type='text/template', id='tmpl-signup')
		form
			div.alerts
				|<% _.each(errors, function(err) { %>
				div.alert.alert-danger.alert-dismissable
					button.close(type='button', data-dismiss='alert') &times;
					|<%= err %>
				|<% }); %>
			div.wrap
				div.form-group(class!='<%= errfor.email ? "has-error" : "" %>')
					label.control-label: i.fa.fa-user
					input.form-control(type='text', name='email', value!='<%= email %>', placeholder= t('signup.mail'))
					span.help-block <%= errfor.email %>
			div.form-group
				button.btn.btn-primary.btn-signup(type='button')= t('signup.subt')

	script(type='text/template', id='data-email') !{email}
