
.logo {
  display: inline-block;
}

section {
	width: 100%; height: 400px;
}


$blur: 6px;

@mixin fade{ opacity:0; }
.str{
  font-family:sans-serif;
  height:1.1em;
  line-height:1.1em;
  
  font-size:10em;
  top:0;
  bottom:0;
  margin:auto;
  transition:opacity 0.5s, transform 0.5s;
  text-align:center;
  left:0;
  
  font-weight: bold;
  right:0;
  position:absolute;
  opacity:0;
  transform:scale(#{$blur/320px * 100 + 100 + "%"});
  &.active{
    opacity:1;
    transform:scale(1);
  }

}
.wrap-slogan{
  -webkit-filter:blur($blur) contrast(10);
  position:relative;background: white;
  height:60%; padding: 10px;
}
