section {
	width: 100%;

  &.text {
    .mainSen {
      font-size: 24px; font-weight: bold; margin-top: 30px;
      text-align: center; background-color: rgba(33,150,243, .4);
      width: 300px; margin: 0 auto; @include border-radius(8px);
      color: white;
    }
    .how {
      text-align: center; width: 350px; margin: 0 auto;
      border-bottom: 2px double $purple_b; padding: 10px 0;
      background-color: rgba(255,255,255, .4); margin: 15px auto;
      font-size: 18px; font-style: italic;
    }
    .wrap-how {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }
  &.button {
    .btn-contact {
      position: absolute; right: 130px; top: 70px;
      color: white; cursor: pointer; font-weight: bold;
      &:hover a { text-decoration: none!important; }
    }
    .btn-team {
      position: absolute; right: 40px; top: 70px;
      color: white; cursor: pointer; font-weight: bold;
      &:hover a { text-decoration: none!important; }
    }
  }
  &.mobile {
    text-align: right; position: absolute;
    right: 25px; bottom: 25px;
    a {
      cursor: pointer;

      i {
        font-size: 84px; padding: 10px;
        &.fa-android:hover { color: #a4c639; }
      }
    }
  }
}

.bg {
    background: linear-gradient(
      -90deg,
      rgba(35, 76, 255, 0.3),
      rgba(248, 206, 239, 0.2)
    ),
    url('/medias/others/1.jpeg') no-repeat
    top center fixed;
  @include background-size(cover);
  position: fixed; z-index: -1;
  width: 100%; height: 100%;
  top:0;  left:0;
  filter: blur(3px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}

.wrap-sections {
  height: 100%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.6)
    );
  padding: 15px;
}

.socials {
  @extend %vertical-align;
  .socials-button {
    padding: 25px 0; margin: 0 auto;
    width: 100%; text-align: center;
    a {
      padding: 15px; font-size: 18px; font-weight: 300;
    }
  }
}
