/* ==|====================
   Layout/Propose
   ======================= */

   /* Variables */

   $propose-bgc: lighten(#1B1D1F, 20%);
   $propose-height: 100%;
   $propose-width: 100%;
   $propose-wrap-width: 250px;

/* Code() */

.l-propose {
	width: $propose-width; height: $propose-height;

	.propose__wrap {
		background-color: $propose-bgc; height: $propose-height;

		.return { display: none; }
		.wrap {
			margin: 0 auto; text-align: center;
			padding-top: 50px; position: relative;

			.title-main {
				font-size: 18px; color: white; display: block;
				text-align: center;
			}
		}
	}
}

