/* Chat */
$chat-width: 230px;
$chat-color: lighten($purple_b, 20%);

/* Inventory */
$inv-width: 400px;
$inv-color: darken(#FFFFFF, 20%);

/* Proposal - Detail */

$prop-width: 400px;
$prop-color: white;

.l-sidebar {
	z-index: 100; background-color: $chat-color;
	width: $chat-width; margin-top: 47px;
	position: fixed;
	@include calc(height, "100% - 47px - 24px");

	.toggle-view {
		cursor: pointer; float: left;
		width: 30px; height: 100%; position:  relative;
		i { color: black; }

		label {
			cursor: pointer; text-align: center;
			display: block; width: auto;
			height: 40px; color: white;

			img {
				@include size(20px);
			}
		}

	}
}

@mixin sidebar($color, $width) {
    @extend .l-sidebar; background-color: $color;
    width: $width; border-top: 1px solid darken($color, 10%);
    .toggle-view {
    	background-color: darken($color, 5%);
    	&:after { border-top: 7px solid darken($color, 5%); }
    }
}

.sidebar-chat {
  @include sidebar($chat-color, $chat-width);
  top: 0; right: 0; z-index: 10000;

  &.is-close {
  	right: -$chat-width; opacity: 1!important;
  }
  .title { text-align: center; color: white; }
}

.sidebar-inv {
	@include sidebar($inv-color, $inv-width);
	top: 0; left: 0;

	.title {
		text-transform: capitalize;
		text-indent: 4px; display: block;
	}

	&.is-close { left: -$inv-width; opacity: 1!important; }

	.toggle-view {
		float: right; left: 30px;
		&:after { right: 0; }
	}

	.content {
		width: 100%; height: 100%;
		position: absolute; top: 0;

	}
}

.sidebar-prop {
	@include sidebar($prop-color, $prop-width);
	top: 0; left: 0;

	.title {
		text-transform: capitalize;
		text-indent: 4px; display: block;
	}

	&.is-close { left: -$prop-width; opacity: 0!important; }

	.content {
		width: 100%; height: 100%;
		position: absolute; top: 0;
		border-right: 5px solid $header-bg;

		.actions {
		  position: absolute;
		  left: 0; right: 0;
		  bottom: 10px;
		  text-align: center;
			div {
				display: inline-block;
			}
			.validation {

			}
			.cl {

			}
		}
	}
}
