| Vérification de votre compte
= '\n'
= '\n'
| Félicitation, votre compte a été crée ! Cliquez sur le lien ci-dessous pour vérifier la création de votre compte.
= '\n'
= '\n'
| #{verifyURL}
= '\n'
= '\n'
| PS - Vous pouvez ignorer cette e-mail si vous ne vouliez pas vous inscrire.
= '\n'
= '\n'
| Cordialement,
| #{projectName}
