extends ../../../layouts/account

block head
	title #{title}

block feet
	script(src='/views/events/validations/details.js')

block body
	div.app-content
		div.page-container
			#details
			#actions
				button#btn-valid Valider
				button#btn-refuse Refuser

	script(type="text/template", id="tmpl-details")
		.item
			a.username(href!="/user/<%= uid._id %>") by <%= name %>

	script(type="text/template", id="data-row") !{row}
