extends ../../../layouts/account

block head
	title #{title}

block feet
	script(src='/views/events/validations/index.js')

block body
	div.app-content
		div.page-container
			#legend
			#no_result
				span Aucune validations proposées pour le moment.
			#valiflux
			#prop
			button.propose Proposez la votre !

	script(type="text/template", id="tmpl-valiflux")
		a(href!="/event/<%= e %>/validation/<%= _id %>")
			.item
				img.picture(src!="<%= picture %>")
				br
				span.username by <%= acc %>
				br
				span.isvalidate <%= isValidate %>

	script(type="text/template", id="tmpl-legend")
		ul.list
			li <%= legend %>

	script(type='text/template', id='data-valiflux') !{valiflux}
	script(type='text/template', id='data-legend') !{legend}
