div.sidebar-chat.sb.is-close(id="chat")
	div.toggle-view.draggable(id="t_chat")
		input(id='chat-sidebar', type='checkbox')
		label(for='chat-sidebar')
			i.fa.fa-envelope-o
			span.count 1
	div.contact-list
		div.search
			input(type="text", id="chat-search")
			label(for='chat-search')= t("zone.search")
				i.fa.fa-search
		span.title= t("msg.title")
		//- div.list
		//- 	- req.session.contacts.forEach(function(item) {
		//- 		div.user(uid=''+item.id+'')
		//- 				span.state
		//- 				img.pic(src=""+item.pic+"")
		//- 				span.name= item.name
		//- 	- });
	div.conversation-list
