div.sidebar-chat.sb.is-close(id="chat")
	div.toggle-view(id="t_chat")
		label(for='chat-sidebar')
			i.fa.fa-envelope-o
			span.count 1
	
	div.contact-list
		div.close(id="clo_chat")
			i.fa.fa-close
		span.title= t("msg.title")
		div.search
			label(for='chat-search')
				i.fa.fa-search
			input(type="text", id="chat-search")
		div.list
			- req.session.contacts.forEach(function(item) {
				div.user(uid=''+item.id+'')
						span.state
						img.pic(src=""+item.pic+"")
						span.name= item.name
			- });
		div.conversation-list
