div.m-delete_prop(id="delete_prop")
	div.m-modal
		div.modal__header
			span.title Supprimer la proposition ?
			span.close
				= t('cl')
		div.modal__content
			h2 Êtes-vous sûr ?
			button.btn.btn-no Non
			button.btn.btn-yes Oui
		div.modal__footer

div.m-editd_prop(id="editd_prop")
	div.m-modal
		div.modal__header
			span.title Confirmation de l'édition
			span.close
				= t('cl')
		div.modal__content
			h2 Événement edité !
		div.modal__footer

div.m_report_c(id="report_c")
	div.m-modal
		div.modal__header
			span.title Signaler un challenge
			span.close
				= t('cl')
		div.modal__content
			div.wrap-report
				label Votre signalement concerne
				select.choices
					option(value='pdat') Diffusion d'informations personnelles
					option(value='hrai') Haine, racisme ou insultes
					option(value='porn') Pornographie
					option(value='suic') Suicide ou mise en danger d'autrui
					option(value='void') Usurpation d'identité
					option(value='vopi') Vol de photos
					option(value='spam') Commentaires ou messages indésirables
				div
					label(for="comments") Commentaires
					textarea(id="comments")
				div.validation
					button.btn Envoyer

		div.modal__footer

div.sidebar-prop.sb.is-close(id="prop_edit")

script(type="text/template", id="tmpl-edit-event")
	div.content
		input.fs-anim-lower(type='hidden', name='place_value', value!='<%= place %>', required)
		input.fs-anim-lower(type='hidden', name='place_Lat', value!='<%= latLng[1] %>', required)
		input.fs-anim-lower(type='hidden', name='place_Lng', value!='<%= latLng[0] %>', required)
		#title
			label(for="title") Titre
			input(name="title" type="text" value="")
		#desc
			label(for="desc") Description
			textarea(name="desc" type="text" value="")
		#hashtag
			label(for="hashtag") Mots-clés
			input(name="hashtag" type="text" value="")
		#place
			label(for="place") Adresse
			input(name="place" type="text" value="")
		div.date0
			label(for="date") Date de début
			input(type="date" name='date')
		div.date1
			label(for="date1") Date de fin
			input(type="date" name='date1')
		div.actions
			button.btn.btn-validate(id="t_editd_prop") Valider
			div.refresh
				button.btn Rafraichir
			div.cl
				button.btn(id="t_prop_close") Fermer
