div.m-feedback(id="feedback", aria-hidden='true')
	div.l-feedback.m-modal
		div.modal__header
			span.title Feedback
			span.close
				i.fa.fa-backward
				= t('cl')
		div.modal__content
			div#feedbackv
		div.modal__footer
