script(type='text/template', id='tmpl-chat')
	div.chat(user!='<%= id %>', id="cu_chat")
		div.cHead
			|<%= name %>
			div.close(id="clo_cur")
				i.fa.fa-close
		div.conversation
			|<% _.each(reply.reverse(), function(msg) { %>
			|<% if (msg.from == userid) { %>
			p.left
			|<% } else { %>
			p.right
			|<% } %>
			|<%= msg.text %>
			|<% }); %>
		div.message
			textarea.message-input
			span.writing: i.fa.fa-ellipsis-h
