script(type='text/template', id='tmpl-evenTile')
	li.marker(markerid!='<%= eid %>')
		.left-part
			a.proprio(href!='/user/<%= uid %>')
				span <%= uname.split(" ")[0] %>
				img.acc(src!='/media/<%= upic %>')
		a.event_link(href!='/event/<%= eid %>')
			div.middle-part
				div.title <%= etitle %>
				div.desc <%= edesc %>
