script(type='text/template', id='tmpl-contact')
  form
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-danger.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        = t('contact.success')
      |<% } %>
    |<% if (!success) { %>
    div.form-group(class!='<%= errfor.name ? "has-error" : "" %>')
      label.control-label: i.fa.fa-user
      input.form-control(type='text', name='name', value!='<%= name %>', placeholder= t('contact.name'), autofocus)
      span.help-block <%= errfor.name %>
    div.form-group(class!='<%= errfor.email ? "has-error" : "" %>')
      label.control-label: i.fa.fa-user
      input.form-control(type='text', name='email', value!='<%= email %>', placeholder= t('contact.mail'))
      span.help-block <%= errfor.email %>
    div.form-group(class!='<%= errfor.message ? "has-error" : "" %>')
      label.control-label: i.fa.fa-envelope
      textarea.form-control(name='message', rows='5', placeholder= t('contact.msg')) <%= message %>
      span.help-block <%= errfor.message %>
    div.form-group
      button.btn.btn-primary.btn-contact(type='button')= t('contact.subt')
    |<% } %>