/* ==|====================
   Module/Button
   ======================= */

   /* Variables */
   $btn-main-color: $blue_b;
   $btn-secnd-color: $blue_c;

   $btn-main-size: 28px;

/* Code() */
.btn {
    font-weight: 500; font-size: 0.9em;
    background-color: darken($btn-main-color, 5%); color: black;
    height: $btn-main-size; text-align: center;
    line-height: $btn-main-size; width: auto;
    padding: 0 15px; top: 0; left: 0;
    position: relative; cursor: pointer;
    @include border-radius(2px); overflow: hidden;
    @include transform(translate3d(0,0,0));

    &:active {
      @include box-shadow(0 2px 5px 0 rgba(0,0,0,.26));
    }

    &.active, &.active:focus { background-color: #72d572; outline: none; }
    &:focus, &:active:focus { outline: none; color: white; }
    &:hover, &:hover > a { color: white; }
}

@mixin btn($color, $height) {
    @extend .btn; background: $color; height: $height;
    line-height: $height;
}

.btn-action {
  @include btn($blue_b, $btn-main-size);
}

.btn-submit {
  @include btn($btn-main-color, $btn-main-size);
}

.btn-validate {
  @include btn($green, $btn-main-size);
}

.btn-edit, .btn-return {
  @include btn($yellow, $btn-main-size);
}
.btn-return { text-transform: capitalize; margin: 4px!important; }

.btn-delete {
  @include btn(red, $btn-main-size);
}

.btn-cancel {
  @include btn($red, $btn-main-size);
}
