/**
*
* Modal module system
*
**/

	/* Variables */

/* Propose  */
	$propose-width: 700px;
	$propose-height: 500px;

/* Feedback */
	$feedback-width: 600px;
	$feedback-height: 210px;

/* Report */
	$report-width: 450px;
	$report-height: 190px;

/* Sign-in */
	$signin-width: 500px;
	$signin-height: 300px;

/* Signup  */
	$signup-width: 500px;
	$signup-height: 300px;

/* Contact */
	$contact-width: 500px;
	$contact-height: 300px;

/* Team */
	$team-width: 700px;
	$team-height: 300px;

/* Network */
	$network-width: 500px;
	$network-height: 500px;

/* Badge */
	$badge-width: 500px;
	$badge-height: 500px;

/* Nokey */
	$nokey-width: 600px;
	$nokey-height: 405px;

/* Global   */
	$modal-bgc: $grey;

/* ================================*/

body.modal-open {
    overflow: hidden;
}

/* Code() */
.box-overlay {
	position: fixed; top: 0;
	left: 0; right: 0; z-index: 10;
	bottom: 0; width: 100%;
	height: 100%; overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	visibility: hidden;
	&.is-active { visibility: visible; }
 }

.wrap-modal {
	position: fixed;
	left: 0; right: 0;
	z-index: 105; top: 6%;
	display: none;

	&:before {
		content: none; display: none;
		background: rgba(0,0,0,.6);
		position: fixed; top: 0;
		left: 0; right: 0; bottom: 0;
		zoom: 10;
	}

	.m-modal {
		position: relative;
		margin: 0px auto 10px;

		&.hide {
			display: none;
		}

		.modal__header {
			background-color: darken(#c8c8c8, 5);
			height: 30px; font-size: 16px;
			line-height: 25px; color: black;
			padding-top: 3px; text-indent: 10px;

			.close {
				font-size: 16px; color: $purple_b;
				text-shadow: none; font-weight: bold;
				opacity: .8!important;
				padding: 2px 4px 0 0;
				&:hover { color: $red; }
			}
		}

		.modal__content {
			width: 100%; height: 95%;
			overflow-y: auto; margin: 0 auto;
			border-right: 10px solid $header-bg;
		}

		.modal__footer {
			background-color: $header-bg; height: 10px;
			button {
				margin: 1px;
			}
		}
	}
}


//modal generator
@mixin modal($color, $width, $height) {
    @extend .wrap-modal; background-color: $color;
    width: $width; height: $height;

    .m-modal {
			width: $width; height: $height;

			.modal__header {
				border-bottom: 1px solid darken($color, 15%);
			}

			.modal__content {
				background-color: $color;
			}
		}
}

/**
*
* Proposer
*
**/

.m-propose {
	@include modal($grey, $propose-width, $propose-height);
	margin: 0 auto;
	img {
		width: 60px; height: 60px;
		-webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}
	.modal__footer {
		height: 30px!important;
	}
}

/**
*
* Feedback
*
**/

.m-feedback {
	@include modal($grey, $feedback-width, $feedback-height);
	margin: 0 auto; top: 17.5%;

	.help-block {
		width: 60%; margin: 0;
	}

	.form-group {
		width: 90%; margin: 5px auto;
	}

	label.control-label {
		vertical-align: top;
	}

	input[type="text"] {
		width: 90%; display: inline-block;
	}

	textarea {
		display: inline-block;
		width: 90%; height: 50%;
		resize: none;
	}

	.validation { text-align: center; }
}

/**
*
* REPORT - USER / CHALLENGE
*
**/

.m-report_u {
	@include modal($grey, $report-width, $report-height);
	margin: 0 auto; top: 17.5%; color: white;

	.wrap-report {
		margin: 0 auto; text-align: center;
		textarea {
			display: inline-block;
			width: 90%; height: 50%;
			resize: none;
		}
	}
	
}

.m_report_c {
	@include modal($grey, $report-width, $report-height);
	margin: 0 auto; top: 17.5%; color: white;

	.wrap-report {
		margin: 0 auto; text-align: center;
		textarea {
			display: inline-block;
			width: 90%; height: 50%;
			resize: none;
		}
	}

}

/**
*
* Se connecter
*
**/

.m-signin {
	@include modal($grey, $signin-width, $signin-height);
	margin: 0 auto; top: 17.5%;

	.help-block {
		width: 60%; margin: 0;
	}

	.form-group {
		width: 90%; margin: 5px auto;
	}

	h3 {
		text-indent: 8px;
	}

	label.control-label {
		vertical-align: middle;
	}

	input[type="text"], input[type="password"] {
		width: 90%; display: inline-block;
	}

	.sin-email {
		text-align: center;
		margin-left: -3px;
	}

	.sin-pass_button {
		text-align: center;
		.form-actions {
			button, a { margin: 10px 0 0; }
			a {
				display: inline-block; color: black;
			}
		}
	}

}

/**
*
* S'inscrire
*
**/

.m-signup {
	@include modal($grey, $signup-width, $signup-height);
	margin: 0 auto; top: 17.5%;

	.help-block {
		width: 60%; margin: 0;
	}

	.form-group {
		width: 90%; margin: 5px auto;
	}

	h3 {
		text-indent: 8px;
	}

	label.control-label {
		vertical-align: top;
	}

	form { padding: 5px; }

	input[type="text"] {
		width: 100%; display: inline-block;
	}

	.identity, .wizzem-info {
		width: 50%;	 display: inline-block;
	}

	.identity {
		float: left;
		.sup-sex, .sup-sex div {
			text-align: center;
		}
	}

	.wizzem-info {
		margin: 37px 0 15px;
	}

	.validation {
		clear: both;
	}

}

/**
*
* Contact
*
**/

.m-contact {
	@include modal($grey, $contact-width, $contact-height);
	margin: 0 auto; top: 17.5%;

	.help-block {
		width: 60%; margin: 0;
	}

	.form-group {
		width: 90%; margin: 5px auto;
	}

	label.control-label {
		vertical-align: top;
	}

	input[type="text"] {
		width: 90%; display: inline-block;
	}

}

/**
*
* Team
*
**/

.m-team {
	@include modal($grey, $team-width, $team-height);
	margin: 0 auto; top: 17.5%;

	.modal__content {
		& > div {
			display: inline-block; text-align: center;
			padding: 15px; @include grayscale(65%);
			cursor: pointer;

			&:hover { @include grayscale(0); }

			img {
				width: 80px; height: 80px;
				padding: 3px; 
				@include background-size(cover);
				@include border-radius(100%);
			}
			&.dev-web {
				float: left;
				img {
					border: 3px solid $blue_b;
				}
			}
			&.dev-api {
				float: right;
				img { border: 3px solid $yellow; }
			}
			&.dev-mobile {
				float: left; clear: right;
				padding: 15px 65px;
				img { border: 3px solid $purple_b; }
			}

			& > div {
				color: white;
			}
			//end of div
		}
	}
}

/**
*
* Network
*
**/

.m-network {
	@include modal($grey, $network-width, $network-height);
	margin: 0 auto; top: 17.5%;
}

/**
*
* Badge
*
**/

.m-badge {
	@include modal($grey, $badge-width, $badge-height);
	margin: 0 auto; top: 17.5%;
}

/**
*
* Delete proposal
*
**/

.m-delete_prop {
	@include modal($grey, $feedback-width, 150px);
	margin: 0 auto; top: 23.5%;

	button {
		color: white; text-align: center;
		.btn-no {
			background-color: $red;
		}
		.btn-yes {
			background-color: $purple_b;
		}
	}
}

/**
*
* Edited proposal
*
**/

.m-editd_prop {
	@include modal($grey, $feedback-width, 100px);
	margin: 0 auto; top: 25.5%;

	button {
		color: white; text-align: center;
		.btn-no {
			background-color: $red;
		}
		.btn-yes {
			background-color: $purple_b;
		}
	}
}

/**
*
* NoKey
*
**/

.m-nokey {
	@include modal($grey, $nokey-width, $nokey-height);
	margin: 0 auto; top: 17.5%;

	img.logo {
		display: block; margin: 35px auto;
		width: 120px;
	}
	p.first {
		font-size: 24px;
	}
	p, a { text-align: center; }
	a.mailtowizzem {
		text-decoration: underline; color: $purple_b;
	}
	.social {
		text-align: center;
		img {
			width: 80px; height: 80px;
		}
	}
}

