/*=============================================
=            Section comment block            =
=============================================*/

					/*

			Map and tools on /account

					*/

/*-----  End of Section comment block  ------*/

/* Variables */

	$tool-bg-wrap-color: rgba(255, 255, 255, 0.4);
	$tool-bg-color: rgba(100, 96.5, 96.5, 0.5);
	$tool-cat-height: 38px;
	$tool-cat-img-height: 16px;

/* Code() */

.m-tool__wrap, .m-tool { height: 100%; width: 100%; }
.m-tool__wrap {
	z-index: 1; background-color: $tool-bg-wrap-color;

	.m-tool {
		cursor: auto; background-color: $tool-bg-color;

		.my-network {
			margin-bottom: 2px;
			.wrap {
				text-align: center;
				background-color: darken($tool-bg-wrap-color, 16);

				.label {
					font-weight: bold; cursor: pointer;
					font-size: 14px;
				}
			}
		}

		center {


			.waiting-tiles {
				.uptodate {
					color: white; padding: 5px;
				}
				.area-waiting {
					color: darken($yellow, 10%);
					.waiting-counter { font-weight: bold; }
					.only { display: none; }
				}
				&:hover {
				background: grey; cursor:pointer;
				}
			}
		}

		.count-results {
			text-align: center; font-size: 21px;
			margin: 0 auto;
			.res {
				color: $purple_b; font-weight: bold;
			}
			.label {

			}
		}

		.results {
			clear: both; overflow-y: overlay;
			height: 500px; width: 600px; margin: 0 auto;
			background-color: darken($tool-bg-wrap-color, 16);
			ul.items {
					li {
						width: 100%; height: 100px;
						background-color: rgba(255, 255, 255, .8);
						margin: 8px 0;

						.left-part {
							width: 20%; height: 100px; float: left;

							a.proprio {
								display: block;
								position: relative; top: 50%;
								-webkit-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								transform: translateY(-50%);
								text-align: center;

								span {
									display: none;
									text-overflow: ellipsis;
    							width: 80px;
							    white-space: nowrap;
							    overflow:hidden;
								}

								img {
									width: 70px; height: 70px;
									@include border-radius(50em);
								}

								&:hover {
									span {
										position: absolute; display: inline-block;
										text-align: center; background: white;
										@include border-radius(50em);
										opacity: 0.9; width: 70px;
										top: 20px;
										margin-left: -1px;
										color: black;
									}
								}
							}
						}

						.event_link {
							&:hover {
								color: black;
							}
							.middle-part {
								float: left; width: 70%; height: 100px;
								margin: 0 4px; padding: 0;
								.title {
									font-size: 18px; font-weight: bold;
								}
								.desc {
									text-overflow: ellipsis; width: 250px;
									white-space: nowrap;
									overflow: hidden; padding: 5px;
								}
							}
							.place { font-size: 14px; }
						}
						//end of li
					}
				}
		}

		.no-result {
			background-color: darken($tool-bg-wrap-color, 16);
			margin: 0 auto; display: block; text-align: center;
			height: 100%; width: 100%; padding-top: 30%;
			clear: both;

			.no-res {
				color: white; font-weight: bold; font-size: 16px;
			}
		}
	}
}
