/*=============================================
=            Section comment block            =
=============================================*/

					/*

			Map and tools on /account

					*/

/*-----  End of Section comment block  ------*/

/* Variables */

	$tool-bg-wrap-color: rgba(255, 255, 255, 0.4);
	$tool-bg-color: rgba(100, 96.5, 96.5, 0.5);
	$tool-cat-height: 38px;
	$tool-cat-img-height: 16px;

/* Code() */

#map {
	z-index: 0;
	height: 100%!important; width: 100%;


	.m-tool__wrap, .m-tool { height: 100%; }
	.m-tool__wrap {
		z-index: 1; position: absolute;
		width: 35%; margin-left: 7.5%;
		background-color: $tool-bg-wrap-color;

		.m-tool {
			margin: 5px; cursor: auto;
			background-color: $tool-bg-color;

			.categories {
				background-color: $tool-bg-wrap-color;
				height: $tool-cat-height; width: 100%;

				div.category {
					width: 32.33%; display: inline-block;
					padding: 0; margin: 0;

					input[type="checkbox"] {

					}

					&:checked ~ label {
						background-color: lighten($tool-bg-color, 5%);
					}
					.label {
						width: 80%; display: inline-block;
						padding: 2px; margin: 0; font-weight: 500;
						color: black;
						font-size: 13px; cursor: pointer;
						position: relative; top: -4px; left: -4px;

						img {
							margin-left: 5px; vertical-align: bottom;
							@include size($tool-cat-img-height);
							@include background-size(cover);
						}
					}
					&:hover {
						background-color: lighten($tool-bg-color, 10%);
					}
				}
			}

			.around-me {
				background-color: darken($tool-bg-wrap-color, 10);

				.label {
					font-size: 13px; font-weight: 500;
				}

				.input-range {
					width: 60%; display: inline-block;
					position: relative; top: -3px;
				}

				output {
					color: black; display: inline-block;
					min-width: 20px; min-height: 15px;
					font-weight: 600;
				}

				.measure {
					display: inline-block; padding-left: 5px;
					color: white; font-weight: 600;
				}
			}

			.my-network {
				margin-bottom: 2px;
				.wrap {
					text-align: left; text-indent: 5px;
					background-color: darken($tool-bg-wrap-color, 16);

					.label {
						font-weight: normal; cursor: pointer;
						font-size: 12px;
					}
				}
			}

			.results {
				clear: both; border-top: 1px solid $blue_a;
				background-color: darken($tool-bg-wrap-color, 16);

				.count-results {
					float: right;
				}
			}

			.no-result {
				background-color: darken($tool-bg-wrap-color, 16);
				margin: 0 auto; display: block; text-align: center;
				height: 100%; width: 100%; padding-top: 30%;
				border-top: 1px solid $red; clear: both;

				.no-res {
					color: white; font-weight: bold; font-size: 16px;
				}
			}
		}
	}
}
