.m-zone {
	img { width: 42px; height: 42px; }

	.m-network {
		.modal__content div {
			a {
				display: block; padding: 5px;
				.item {
					.pic { width: 40px; height: 40px; }
				}
			}
		}
		.friends {
			width: 50%; float: left; padding: 10px;
			a .item {
				img {
					@include border-radius(50em);
				}
			}
		}
		&:after { clear: both; }
	}

	.m-badge {
		.modal__content{
			div.badge_a {
				display: -webkit-flex;
   			display: flex;
   			-webkit-align-items: center;
				align-items: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-flex-flow: column wrap;
				flex-flow: column wrap;
				-webkit-align-content: center;
				align-content: center;
				margin: 5px 0;
				.hexagon {
				  position: relative;
				  width: 100px;  height: 57.74px;
 					margin: 28.87px 0;
				  background-size: auto 115.4701px;
				  background-position: center;

				  .hexTop, .hexBottom {
					  position: absolute; z-index: 1;
					  width: 70.71px; height: 70.71px;
					  overflow: hidden;
					  -webkit-transform: scaleY(0.5774) rotate(-45deg);
					  -ms-transform: scaleY(0.5774) rotate(-45deg);
					  transform: scaleY(0.5774) rotate(-45deg);
					  background: inherit; left: 14.64px;
					}
					.hexTop:after, .hexBottom:after {
					  content: ""; position: absolute;
					  width: 100.0000px; height: 57.73502691896258px;
					  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
					  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
					  transform:          rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
					  -webkit-transform-origin: 0 0;
					  -ms-transform-origin: 0 0;
					  transform-origin: 0 0; background: inherit;
					}
					.hexTop {
						top: -35.3553px;
						&:after {
							background-position: center top;
						}
					}
					.hexBottom {
  					bottom: -35.3553px;
  					&:after {
							background-position: center bottom;
						}
					}
					&:after {
						content: ""; position: absolute;
						top: 0.0000px; left: 0;
						width: 100.0000px; height: 57.7350px;
						z-index: 2; background: inherit;
					}
					//end of hexagon
				}
				.name {
					color: blue;
				}
				.title {
					color: green;
				}
				.desc {
					color: red;
				}
			}
		}
		&:after { clear: both; }
	}

//picture upload
	#picture {
		float: left; text-align: center;
		margin: 15px 0 10px 15px;

		&:hover {
			#avatarLabel { display: block; }
			img {
				@include grayscale(100%);
			}
			#formAvatar { height: 0; }
		}

		img {
			@include border-radius(200px);
			width: 200px; height: 200px;
			background-size: cover;
			box-shadow: 0 0 0 5px #999999;
		}
		#avatarUpload { position:absolute; top:-100px; }
		#avatarLabel {
			position: relative;
			width: 100px;
			top: -112px; left: 50px;
			display: none;
		}
	}

// Edit profil info
	#details {
		float: left;
		.first {
			float: left; margin-right: 5px;
		}
		#place, #phone {
			display: inline;
		}
		#place-edit, button.btn-update-valid {
			display: none;
		}
		.wrap-inf {
			padding: 30px;
			.first, .last {
			font-weight: bold;
			}
		}
		.control-group {
			text-align: center;
			#up { margin-top: 15px; }
			.btn-update-valid { margin-top: 15px; }
		}
	}

.third-part {
	float: left;
}
.fourth {
	clear: both;
}
// Social link
.social_link {
	background-color: $red;
}

//History
	#wrap-history {
		position: absolute; overflow: hidden;
		width: 100%; height: 340px;
		background-color: lighten(#CBCFCD, 10%);
		border-top: 2px solid #CBCFCD;
		border-bottom: 2px solid #CBCFCD;

		.scroll {
		 	position: absolute;
			height: 0%; width: 100%;
			a.elem {
				display: block; height: 190px; padding: 5px; margin: 5px auto;
				width: 600px;
				&.acv {
					background-color: rgba(3, 169, 244, .7);
				}
				&.exc {
					background-color: $yellow;
				}
				&:hover {
					color: white; text-decoration: none;
				}
				.photos img {
					background-size: cover;
					width: 180px; height: 180px;
					float: left; margin-right: 10px;
				}
				.title {
					font-weight: bold;
				}
				.desc {
				}
				.date {
					&.start {

					}
					&.end {

					}
				}
				.acc-photo {
					float: right;
					img { @include border-radius(50em); }
					.acc-name { text-indent: 8px; display: inline-block; }
				}
			//end of a.elem
			}
		}
	}

//end of details
}
