.m-zone {
	img { width: 42px; height: 42px; }

	.m-network {
		.modal__content div {
			a {
				display: block; padding: 5px;
				.item {
					.pic { width: 40px; height: 40px; }
				}
			}
		}
		.friends {
			width: 50%; float: left; padding: 10px;
			a .item {
				img {
					@include border-radius(50em);
				}
				.full { color: white; padding-left: 5px; }
			}
		}
		&:after { clear: both; }
	}

	.m-badge {
		.modal__content{
			div.badge_a {
				display: -webkit-flex;
   			display: flex;
   			-webkit-align-items: center;
				align-items: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-flex-flow: column wrap;
				flex-flow: column wrap;
				-webkit-align-content: center;
				align-content: center;
				margin: 5px 0;
				border-bottom: 1px solid $blue_a;
				padding: 2px;
				.name {
					color: white;
				}
				.title {
					color: green;
				}
				.desc {
					color: red;
				}
			}
		}
		&:after { clear: both; }
	}

//picture upload
	#picture {
		float: left; text-align: center;
		margin: 15px 75px 10px 125px;

		&:hover {
			#avatarLabel { display: block; }
			img {
				@include grayscale(100%);
			}
			#formAvatar { height: 0; }
		}

		img {
			@include border-radius(200px);
			width: 200px; height: 200px;
			background-size: cover;
			box-shadow: 0 0 0 5px #999999;
		}
		#avatarUpload { position:absolute; top:-100px; }
		#avatarLabel {
			position: relative;
			width: 100px;
			top: -112px; left: 50px;
			display: none;
		}
	}

// Edit profil info
	#details {
		float: left;
		.first {
			float: left; margin-right: 5px;
		}
		.wrap-inf {
			padding: 30px;
			.first, .last {
			font-weight: bold; float: left;
			font-size: 26px;

			}
		}
		.control-group {
			text-align: center;
			#up { margin: 45px 0 0 0; }
			.btn-update-valid { margin-top: 15px; }
		}
	}

.third-part {
	float: left; margin-top: 30px;
	.func {
		padding: 5px 0;
		position: relative; top: -15px;
	}
}
.fourth {
	clear: both;
}

//History
	#wrap-history {
		position: absolute; overflow: hidden;
		width: 100%; height: 340px;
		background-color: lighten(#CBCFCD, 10%);
		border-top: 2px solid #CBCFCD;
		border-bottom: 2px solid #CBCFCD;

		.scroll {
		 	position: absolute;
			height: 0%; width: 100%;
			a.elem {
				display: block; height: 190px; padding: 5px; margin: 5px auto;
				width: 600px;
				&.acv {
					background-color: rgba(3, 169, 244, .7);
				}
				&.exc {
					background-color: $yellow;
				}
				&:hover {
					color: white; text-decoration: none;
				}
				.photos img {
					background-size: cover;
					width: 180px; height: 180px;
					float: left; margin-right: 10px;
				}
				.title {
					font-weight: bold;
				}
				.desc {
				}
				.date {
					&.start {

					}
					&.end {

					}
				}
				.acc-photo {
					float: right;
					img { @include border-radius(50em); }
					.acc-name { text-indent: 8px; display: inline-block; }
				}
			//end of a.elem
			}
		}
	}

//end of details
}
